// Jade file to specify output of a country list
// Inherits from layout
extend layout
block navbarcontent
    +nav_item("/") Home
    +nav_item("/statistics") Aggregate Statistics
    +nav_item("/doping_athletes?name=") Doping Athletes by Country
    +nav_item("/doping_medalists?name=") Doping Athletes with Medals from Other Games
    +nav_item("/corruption","active") Corruption
block content
  h2
    |  #{title}:
  // Create a table with one row per result
  +tab-list(["Overall","1995","1996","2000","2004","2008", "2015"],0)
    +tab("Overall","active")
      p
        table
          tr#title
            td Country
            td 1995
            td 1996
            td 2000
            td 2004
            td 2008
            td 2015
            - each result in results
              tr
              td=result.country
              - each ranking in result.ranking
                if ranking == 0
                  td=""
                else
                  td=ranking
    +tab("1995")
      p
        table
          tr#title
            td Country
            td Ranking
            - var inx = 5;
            - each ans in yearOne
              tr
              if ans.ranking[1995] == 0
              else if inx == 0
              else 
                td=ans.country
                td=ans.ranking[1995]
                -inx -= 1;
    +tab("1996")
      p
        table
          tr#title
            td Country
            td Ranking
            - var inx = 5;
            - each ans in yearTwo
              tr
              if ans.ranking[1996] == 0
              else if inx == 0
              else 
                td=ans.country
                td=ans.ranking[1996]
                -inx -= 1;
    +tab("2000")
      p
        table
          tr#title
            td Country
            td Ranking
            - var inx = 5;
            - each ans in yearThree
              tr
              if ans.ranking[2000] == 0
              else if inx == 0
              else 
                td=ans.country
                td=ans.ranking[2000]
                -inx -= 1;
    +tab("2004")
      p
        table
          tr#title
            td Country
            td Ranking
            - var inx = 5;
            - each ans in yearFour
              tr
              if ans.ranking[2004] == 0
              else if inx == 0
              else 
                td=ans.country
                td=ans.ranking[2004]
                -inx -= 1;
    +tab("2008")
      p
        table
          tr#title
            td Country
            td Ranking
            - var inx = 5;
            - each ans in yearFive
              tr
              if ans.ranking[2008] == 0
              else if inx == 0
              else 
                td=ans.country
                td=ans.ranking[2008]
                -inx -= 1;
    +tab("2015")
      p
        table
          tr#title
            td Country
            td Ranking
            - var inx = 5;
            - each ans in yearSix
              tr
              if ans.ranking[2015] == 0
              else if inx == 0
              else 
                td=ans.country
                td=ans.ranking[2015]
                -inx -= 1;

  // Put a click button that lets us return to the index page
  form(method='get', action='/')
      input(type='submit', value='Return')