// Jade file to specify output of a country list
// Inherits from layout
extend layout
block navbarcontent
    +nav_item("/") Home
    +nav_item("/doping_athletes?name=") Doping Athletes by Country
    +nav_item("/statistics") Aggregate Statistics
    +nav_item("/doping_medalists") Doping Athletes who Medalled
    +nav_item("/corruption","active") Corruption Index
    +nav_item("/twitter_feed") Tweets
block content
  h2(align='center')
    |  #{title}
  p
    | On a scale of 0 (very corrupt) to 100 (very transparent). Sourced from
    a(href='http://www.transparency.org/cpi2015?gclid=CL-00q6j8NACFU1LDQod0n0CFg#results-table')  Transparency International

  // Create a table with one row per result
  +tab-list(["Overall","1995","1996","2000","2004","2008", "2015"],0)
    +tab("Overall","active")
      p
        table
          tr#title
            td Country
            td 1995
            td 1996
            td 2000
            td 2004
            td 2008
            td 2015
            - each result in results
              tr
              td=result.country
              - each ranking in result.ranking
                if ranking == 0
                  td=""
                else
                  td=ranking
    +tab("1995")
      p
        table
          tr#title
            td Country
            td Ranking
            td Incidents
            - each ans in yearOne
              tr
              if ans.ranking[1995] == 0
              else
                td=ans.country
                td=ans.ranking[1995]
                - each item in sql.year96
                  if item.country == ans.country
                    td=item.num




    +tab("1996")
      p
        table
          tr#title
            td Country
            td Ranking
            td Incidents
            - each ans in yearTwo
              tr
              if ans.ranking[1996] == 0
              else
                td=ans.country
                td=ans.ranking[1996]
                - each item in sql.year96
                  if item.country == ans.country
                    td=item.num
    +tab("2000")
      p
        table
          tr#title
            td Country
            td Ranking
            td Incidents
            - each ans in yearThree
              tr
              if ans.ranking[2000] == 0
              else
                td=ans.country
                td=ans.ranking[2000]
                - each item in sql.year00
                  if item.country == ans.country
                    td=item.num
    +tab("2004")
      p
        table
          tr#title
            td Country
            td Ranking
            td Incidents
            - each ans in yearFour
              tr
              if ans.ranking[2004] == 0
              else
                td=ans.country
                td=ans.ranking[2004]
                - each item in sql.year04
                  if item.country == ans.country
                    td=item.num
    +tab("2008")
      p
        table
          tr#title
            td Country
            td Ranking
            td Incidents
            - each ans in yearFive
              tr
              if ans.ranking[2008] == 0
              else
                td=ans.country
                td=ans.ranking[2008]
                - each item in sql.year08
                  if item.country == ans.country
                    td=item.num
    +tab("2015")
      p
        table
          tr#title
            td Country
            td Ranking
            td Incidents
            - each ans in yearSix
              tr
              if ans.ranking[2015] == 0
              else
                td=ans.country
                td=ans.ranking[2015]
                - each item in sql.year15
                  if item.country == ans.country
                    td=item.num
