// Jade file to specify output of a country list
// Inherits from layout
extend layout
block navbarcontent
    +nav_item("/") Home
    +nav_item("/doping_athletes?name=") Doping Athletes by Country
    +nav_item("/statistics","active") Aggregate Statistics
    +nav_item("/doping_medalists") Doping Athletes who Medalled
    +nav_item("/corruption") Corruption Index
    +nav_item("/twitter_feed") Tweets

block content

  h2(align="center")
    |  #{title}:

  +tab-list(["Sport","Drug","Gender","Country","Year","Country_Average"],0)
    +tab("Sport","active")
      // Create a table with one row per result
      p
        table
          tr#title
            td Sport
            td Number of Incidents
          - for (var inx = 0; inx < per_sport.length; inx++)
            tr
              td=per_sport[inx].sport
              td=per_sport[inx].number_of_incidents
    +tab("Drug")
      // Create a table with one row per result
      p
        table
          tr#title
            td Drug
            td Number of Incidents
          - for (var inx = 0; inx < per_drug.length; inx++)
            tr
              td=per_drug[inx].banned_substance
              td=per_drug[inx].number_of_incidents
    +tab("Gender")
      script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
      script(type='text/javascript').
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Gender', 'Total number of Incidents'],
        ['Female',     11],
        ['Male',      2]
        ]);
        var options = {
        title: 'Incidents by Gender'
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
        }
      #piechart(style='width: 100%; height: 200px;')


      // Create a table with one row per result
      p
        table
          tr#title
            td Sport
            td Female Incidents
            td Male Incidents
          - for (var inx = 0; inx < per_sport_gender.length; inx++)
            tr
              td=per_sport_gender[inx].sport
              td=per_sport_gender[inx].num_female
              td=per_sport_gender[inx].num_male
          tr
            td Total
            td=per_gender[0].num_female
            td=per_gender[0].num_male
    +tab("Country")
      // Create a table with one row per result
      p
        table
          tr#title
            td Country
            td Number of Incidents
          - for (var inx = 0; inx < per_country.length; inx++)
            tr
              td=per_country[inx].origin_country
              td=per_country[inx].number_of_incidents
    +tab("Year")
      // Create a table with one row per result
      p
        table
          tr#title
            td Year
            td Number of Incidents
          - for (var inx = 0; inx < per_year.length; inx++)
            tr
              td=per_year[inx].year
              td=per_year[inx].number_of_incidents
    +tab("Country_Average")
      // Create a table with one row per result
      p
        table
          tr#title
            td Country
            td Average Number of Incidents
          - for (var inx = 0; inx < avg_incidents.length; inx++)
            tr
              td=avg_incidents[inx].origin_country
              td=avg_incidents[inx].number_of_incidents

